
.content {
  width: 1024px;
  margin: 0 auto;
  padding: 10px;
}

header {
}

footer {
  padding: 10px;
  background-color: #666;
  color: #ddd;
}

footer a {
  color: #ddd;
}

.taxon-stats table th {
  width: 250px;
  text-align:left;
}

#map {
  margin-top: 20px;
  height: 480px
}

.leaflet-popup-content {
  height: 350px;
  max-height: 350px;
  overflow-y: scroll;
}

.stats canvas {
  height: 250px;
}

.langs {
  float: right;
  text-align:right;
}

header h1, header h2 {
}

