{{> header}}

<div class='pure-u-1'>

  <!--
  <section>
    <h3>Analysis of completeness and quality of occurrences</h3>
    <p>Theses area mainly quantitative analysis of completeness of data.
      This helps to indicate how appropriate (or not) this assessment is for this specie.
      Each metric is graded from 0 to 5 for each record of occurrence, and them divided by the occurrence count
      to provide the overral metric.</p>
    <article>
      <h4>Abundance</h4>
      <p>If the quantity of records is enough for an assessment.</p>
    </article>
    <article>
      <h4>Identification</h4>
      <p>If the record is fully identified. Accounts for occurrenceID, collector information, identification information, taxonomy and dates.</p>
    </article>
    <article>
      <h4>Georeference</h4>
      <p>If the record is well georeferencied. Accounts for valid coordinates, with precision and datum specified, textual description of location, country, state and municipality.
         Unfortunally we do not test the accuracy of the information provided.</p>
    </article>
    <article>
      <h4>Linage</h4>
      <p>Accounts for the currency of the record, be it the actual collecting date of the last time this record was reviewed.</p>
    </article>
  </section>
  -->

  <section>
    <h3>Analysis of specie distribution</h3>
    <p>Performed for historic (older then 50 years), current and all of occurrences.</p>
    <article>
      <h4>Extent of occurrences (EOO)</h4>
      <p>Utilizes a convex-hull method to calculate the total extent of occurrence for the specie.</p>
    </article>
    <article>
      <h4>Area of Occupancy (AOO)</h4>
      <p>Using a world grid of 2km of side, and matching those which have occurrences on it, 
         distincts them to calculate the area of occupancy of the specie.</p>
    </article>
    <article>
      <h4>Population clusters</h4>
      <p>Based on 10% of the maximum distance between the species occurrences (to be changed to a minimum-spaning-tree following Rapoport's approach), draws a buffer of this radius around them
         and groups those that intersects.</p>
    </article>
  </section>

  <section class='assess-info'>
    <h3>Risk Assessment Analysis</h3>
    <p>Using IUCN category and criteria extinction risk assessment, but based only on geographical distribution and futher simplified.</p>
    <table class='pure-table'>
      <thead>
        <tr>
          <th>Metric</th>
          <th>Value</th>
          <th>Category (criteria)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Number of records</td>
          <td> &lt; 3</td>
          <td>DD</td>
        </tr>
        <tr>
          <td>Area of occupancy</td>
          <td> &lt; 10km²</td>
          <td>CR (B2)</td>
        </tr>
        <tr>
          <td>Area of occupancy</td>
          <td> &lt; 500km²</td>
          <td>EN (B2)</td>
        </tr>
        <tr>
          <td>Area of occupancy</td>
          <td> &lt; 2000km²</td>
          <td>VU (B2)</td>
        </tr>
        <tr>
          <td>Extent of occurrence</td>
          <td> &lt; 100km²</td>
          <td>CR (B1)</td>
        </tr>
        <tr>
          <td>Extent of occurrence</td>
          <td> &lt; 5000km²</td>
          <td>EN (B1)</td>
        </tr>
        <tr>
          <td>Extent of occurrence</td>
          <td> &lt; 20000km²</td>
          <td>VU (B1)</td>
        </tr>
      </tbody>
    </table>
    <p> Due to lack of a method for some extra information (specially locations and threats), the categories had to be simplified.
        The methodology can be improved if we have easy access to such data. </p>
  </section>

  <section>
    <h3>Architecture</h3>
    <p>This service depends upon a few components:</p>
    <ul>
      <li><a href="/taxadata">Taxadata</a>: Transforms a checklist of taxonomy into a webservice.</li>
      <li><a href="/dwc-bot">Dwc-Bot</a>: Collects occurrences from IPTs and index them in a database.</li>
      <li><a href="/dwc-services">Dwc-Services</a>: API to perform convertion, fixes and analysis on darwincore data.</li>
      <li><a href="/biodiv-idx">Biodiv-idx</a>: Combine the taxonomy with the occurrence data to perform the analysis and saves them on the ElasticSearch index.</li>
      <li><a href="/ui">Biodiv-ui</a>: Provides this interface to the index.</li>
    </ul>
    <p>Current data sources are the Flora do Brasil checklist, the Cria IPT resources, the JBRJ IPT resources and Reflora IPT resources.</p>
  </section>

</div>

{{> footer}}

