{{> header}}

<h1 class="pure-u-1">{{strings.stats-of}} {{family}}</h1>
<p class='pure-u-1'> <a href="#species">{{strings.scroll-to-list}}</a> </p>

{{> stats}}

<h1 class="pure-u-1">{{strings.species-of}} {{family}}</h1>
<a name="species"></a>
<ul class="pure-u-1">
  {{#species}}
  <li>
    <i>
      <a href="{{base}}/taxon/{{scientificNameWithoutAuthorship}}">
        {{scientificNameWithoutAuthorship}}
      </a>
    </i>
    {{scientificNameAuthorship}}
    <br />
    <small>
      {{#synonyms}}
        {{scientificNameWithoutAuthorship}};
      {{/synonyms}}
    </small>
  </li>
  {{/species}}
</ul>

{{> footer}}

