
  <footer class='pure-u-1'>
    {{#stats}}
    <p>{{strings.analysis-from}} <strong>{{last_updated}}</strong>.</p>
    {{/stats}}
    <p>
      <a href="{{base}}/">{{strings.home}}</a>
      <a href="https://biodiversity.space">{{strings.about}}</a>
      <a href="/elasticsearch">ElasticSearch</a>
      <a href="/taxadata">{{strings.taxonomy}}</a>
      <a href="/dwc-bot">{{strings.occurrences}}</a>
      <a href="/dwc-services">{{strings.analysis}}</a>
      <a href="http://github.com/diogok/biodiv-compose">{{strings.sourcecode}}</a>
    </p>
  </footer>
  </div>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-72780733-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
