
  <footer class='pure-u-1'>
    <p>
      <a href="{{base}}/">Home</a>
      <a href="{{base}}/about">About</a>
      <a href="/kibana">Dashboard</a>
      <a href="/elasticsearch">ElasticSearch</a>
      <a href="/taxadata">Taxonomy</a>
      <a href="/dwc-bot">Occurrences</a>
      <a href="/dwc-services">Analysis</a>
      <a href="http://github.com/diogok/biodiv-compose">Sourcecode</a>
    </p>
  </footer>
  </div>
</body>
</html>
