<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Biodiversity Index{{#title}} - {{title}} {{/title}}</title>

  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

  <link rel="stylesheet" href="{{base}}/app.css" />
</head>
<body>
  <div class="content pure-g">
   <header class="pure-u-1">
    <h1>Biodiversity Index - Beta</h1>
    <h2>Spatial distribution and analysis of aggregated taxonomic and occurrency data.</h2>
  </header>

 
