<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Biodiversity Index{{#title}} - {{title}} {{/title}}</title>

  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v1.0.0-beta.2/leaflet.css" />
  <link rel="stylesheet" href="http://cdn.jsdelivr.net/leaflet.markercluster/1.0.0-beta.2.0/MarkerCluster.css" />
  <link rel="stylesheet" href="http://cdn.jsdelivr.net/leaflet.markercluster/1.0.0-beta.2.0/MarkerCluster.Default.css" />

  <script src="http://cdn.leafletjs.com/leaflet/v1.0.0-beta.2/leaflet.js"></script>
  <script src="http://cdn.jsdelivr.net/leaflet.markercluster/1.0.0-beta.2.0/leaflet.markercluster.js" type="text/javascript"></script>

  <script src="https://cdn.jsdelivr.net/reqwest/2.0.5/reqwest.min.js" type="text/javascript"></script>

  <link rel="stylesheet" href="{{base}}/app.css" />
</head>
<body>
  <div class="content pure-g">
   <header class="pure-u-1">
    <h1>Biodiversity Index - Beta</h1>
    <h2>Spatial distribution and analysis of aggregated taxonomic and occurrency data.</h2>
  </header>

 
