{{> header}}

<form action="search" class="pure-form pure-u-1 pure-form-stacked" method='GET'>
  <fieldset>
    <legend>{{strings.search}}</legend>
    <input name="query" type="text" class='pure-input pure-input-1' placeholder='{{strings.make-your-query}}'/>
    <button type='submit' class='pure-button pure-button-primary'>{{strings.search}}</button>
    <p>{{strings.or}} <a href="{{base}}/families">{{strings.navigate-by-families}}</a>.</p>
  </fieldset>
</form>

{{> stats}}

{{> sources}}

{{> footer}}
