{{> header}}

<section class="counts pure-u-1">
  <h3>Containing
    <strong>{{taxa_count}}</strong> species with
    <strong>{{analysis_count}}</strong> analysis of
    <strong>{{occurrence_count}}</strong> occurrences.
  </h3>
</section>

<form action="search" class="pure-form pure-u-1 pure-form-stacked" method='GET'>
  <fieldset>
    <legend>Search a specie</legend>
    <input name="taxon" type="text" class='pure-input pure-input-1'/>
    <button type='submit' class='pure-button pure-button-primary'>Search</button>
    <p>Or <a href="{{base}}/families">navigate by family</a>.</p>
  </fieldset>
</form>

<section class="stats pure-u-1">
  <h3 class='pure-u-1'>Statistics</h3>

  <div class="pure-u-1-2 cats">
    <h4>Risk Categories</h4>
    <p>Number of species in each category of risk.</p>
    <canvas></canvas>
  </div>

  <div class="pure-u-1-2 occs_points">
    <h4>Occurrences and points</h4>
    <p>Number of occurrences with and without points (usable coordinates).</p>
    <canvas></canvas>
  </div>
  <div class="pure-u-1 occs_ranges">
    <h4>Number of occurrences/points per specie</h4>
    <p>Number of species in each range of occurrence count.</p>
    <canvas></canvas>
  </div>

  <div class="pure-u-1-2 eoo_ranges">
    <h4>Extent of occurrence</h4>
    <p>Number of species in each range of EOO (in km²).</p>
    <canvas></canvas>
  </div>

  <div class="pure-u-1-2 aoo_ranges">
    <h4>Area of occupancy</h4>
    <p>Number of species in each range of AOO (in km²).</p>
    <canvas></canvas>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js" type="text/javascript"></script>
  <script type="text/javascript">
    window.onload=function(){
      var stats = {{{stats_json}}};

      for(var i=0;i<stats['categories'].length;i++) {
        var s = stats['categories'][i];
        if(s.label=='EX') {
          s.color='#000000';
        }else if(s.label=='EW') {
          s.color='#330000';
        }else if(s.label=='CR') {
          s.color='#663333';
        }else if(s.label=='EN') {
          s.color='#aa6666';
        }else if(s.label=='VU') {
          s.color='#ccaaaa';
        } else if(s.label=='NT') {
          s.color='#cccc66';
        } else if(s.label=='LC') {
          s.color='#aaaacc';
        } else if(s.label=='DD') {
          s.color='#aaaaaa';
        }
      }
      new Chart(document.querySelector('.cats canvas').getContext('2d')).Pie(stats['categories'],{animationEasing:'linear',animationSteps:30});

      var occs_points=[
        {label:'Occurrences',value:stats.occs_count - stats.points_count,color:'#aaaaaa' },
        {label:'Points',value:stats.points_count,color:'#aaaacc' }
      ];
      new Chart(document.querySelector('.occs_points canvas').getContext('2d')).Pie(occs_points,{animationEasing:'linear',animationSteps:30});

      var occs_ranges={
        labels:[],
        datasets:[
          {label:"Occurrences count range",data:[],fillColor:'#aaaaaa'},
          {label:"Points count range",data:[],fillColor:'#aaaacc'}
        ]
      }

      for(var i=0;i<stats['points_ranges'].length;i++) {
        var s = stats['points_ranges'][i];
        s.label=(""+s.label).replace(/\.0/g,"").replace('-',' to ');
        if(i==0) {
          s.label='0';
        }
        occs_ranges.labels.push(s.label);
        occs_ranges.datasets[1].data.push(s.value);
      }
      for(var i=0;i<stats['occs_ranges'].length;i++) {
        var s = stats['occs_ranges'][i];
        occs_ranges.datasets[0].data.push(s.value);
      }
      new Chart(document.querySelector('.occs_ranges canvas').getContext('2d')).Bar(occs_ranges,{});

      var eoo_ranges={
        labels:[],
        datasets:[
          {label:"Extent of occurrence",data:[],fillColor:'#aaaaaa'}
        ]
      }
      for(var i=0;i<stats['eoo_ranges'].length;i++) {
        var s = stats['eoo_ranges'][i];
        s.label=(""+s.label).replace(/\.0/g,"").replace('-',' to ');
        if(i==0) {
          s.label='0';
        }
        eoo_ranges.labels.push(s.label);
        eoo_ranges.datasets[0].data.push(s.value);
      }
      new Chart(document.querySelector('.eoo_ranges canvas').getContext('2d')).Bar(eoo_ranges,{});

      var aoo_ranges={
        labels:[],
        datasets:[
          {label:"Area of occupancy",data:[],fillColor:'#aaaaaa'}
        ]
      }
      for(var i=0;i<stats['aoo_ranges'].length;i++) {
        var s = stats['aoo_ranges'][i];
        s.label=(""+s.label).replace(/\.0/g,"").replace('-',' to ');
        if(i==0) {
          s.label='0';
        }
        aoo_ranges.labels.push(s.label);
        aoo_ranges.datasets[0].data.push(s.value);
      }
      console.log(aoo_ranges);
      new Chart(document.querySelector('.aoo_ranges canvas').getContext('2d')).Bar(aoo_ranges,{});
    };
  </script>
</section>

{{> footer}}
