{{> header}}

<section class="counts pure-u-1">
  <h3>Containing
    <strong>{{taxa_count}}</strong> species with
    <strong>{{analysis_count}}</strong> analysis of
    <strong>{{occurrence_count}}</strong> occurrences.
  </h3>
</section>

<form action="search" class="pure-form pure-u-1 pure-form-stacked" method='GET'>
  <fieldset>
    <legend>Search</legend>
    <input name="query" type="text" class='pure-input pure-input-1' placeholder='Make your query'/>
    <button type='submit' class='pure-button pure-button-primary'>Search</button>
    <p>Or <a href="{{base}}/families">navigate by family</a>.</p>
  </fieldset>
</form>

<section class="stats pure-u-1">
  <h3 class='pure-u-1'>Statistics</h3>

  <div class="pure-u-1-2 cats">
    <h4>Risk Categories</h4>
    <p>Number of species in each category of risk.</p>
    <canvas></canvas>
  </div>

  <div class="pure-u-1-2 occs_points">
    <h4>Occurrences and points</h4>
    <p>Number of occurrences with and without points (usable coordinates).</p>
    <canvas></canvas>
  </div>

  <div class="pure-u-1-2 occs_ranges">
    <h4>Number of occurrences per specie</h4>
    <p>Number of species in each range of occurrence count.</p>
    <canvas></canvas>
  </div>

  <div class="pure-u-1-2 points_ranges">
    <h4>Number of points per specie</h4>
    <p>Number of species in each range of points count.</p>
    <canvas></canvas>
  </div>

  <div class="pure-u-1-2 eoo_ranges">
    <h4>Extent of occurrence</h4>
    <p>Number of species in each range of EOO (in km²).</p>
    <canvas></canvas>
  </div>

  <div class="pure-u-1-2 aoo_ranges">
    <h4>Area of occupancy</h4>
    <p>Number of species in each range of AOO (in km²).</p>
    <canvas></canvas>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js" type="text/javascript"></script>
  <script src="stats.js" type="text/javascript"></script>
  <script type="text/javascript">
    var stats = {{{stats_json}}};
    window.onload = run_stats;
  </script>
</section>

{{> footer}}
