{{> header}}

<form action="search" class="pure-form pure-u-1 pure-form-stacked" method='GET'>
  <fieldset>
    <legend>Search</legend>
    <input name="query" type="text" class='pure-input pure-input-1' value="{{query}}"/>
    <button type='submit' class='pure-button pure-button-primary'>Search</button>
  </fieldset>
</form>

<h1 class="pure-u-1">Search result</h1>

<ul class="pure-u-1">
  {{#found}}
  <li>
    <i>
      <a href="{{base}}/taxon/{{.}}">
        {{.}}
      </a>
    </i>
  </li>
  {{/found}}
</ul>

{{> footer}}


