{{> header}}

<form action="search" class="pure-form pure-u-1 pure-form-stacked" method='GET'>
  <fieldset>
    <legend>{{strings.search}}</legend>
    <input name="query" type="text" class='pure-input pure-input-1' value="{{query}}"/>
    <button type='submit' class='pure-button pure-button-primary'>{{strings.search}}</button>
  </fieldset>
</form>

<h1 class="pure-u-1">{{strings.search-result}}</h1>

{{> stats}}

<ul class="pure-u-1">
  {{#found}}
  <li>
    <i>
      <a href="{{base}}/taxon/{{scientificNameWithoutAuthorship}}">
        {{scientificNameWithoutAuthorship}}
      </a>
    </i>
    {{scientificNameAuthorship}}
    <br />
    <small>
      {{#synonyms}}
        {{scientificNameWithoutAuthorship}};
      {{/synonyms}}
    </small>
  </li>
  {{/found}}
</ul>

{{> footer}}


