{{> header}}

<section class="taxon pure-u-1">
  {{#taxon}}
  <h2>{{family}}</h2>
  <h1><i>{{scientificNameWithoutAuthorship}}</i> {{scientificNameAuthorship}}</h1>
  <p>
    Synonyms:
    {{#synonyms}}
      {{scientificNameWithoutAuthorship}} ; 
    {{/synonyms}}
    {{^synonyms}}N/A{{/synonyms}}
  </p>
  {{/taxon}}
</section>

{{#risk_assessment}}
<section class='pure-u-1 risks'>
  <h4>{{strings.risk-assessment}}</h4>
  <table class='pure-table'>
    <tr>
      <th>{{strings.category}}</th>
      <th>{{strings.criteria}}</th>
      <th>{{strings.reason}}</th>
    </tr>
    {{#risk-assessment}}
    <tr>
      <td>{{category}}</td>
      <td>{{criteria}}</td>
      <td>{{reason}}</td>
    </tr>
    {{/risk-assessment}}
  </table>
</section>
{{/risk_assessment}}

<section class='pure-u-1 all-stats  taxa-stats'>
  <h4>{{strings.occs-and-points}}</h4>
  <p>{{strings.points-desc}}</p>
  <table class='pure-table'>
    <tr>
      <th>{{strings.total}}</th>
      <td>{{count.occurrences.count}} / {{count.points.count}}</td>
    </tr>
    <tr>
      <th>{{strings.recent}}</th>
      <td>{{count.occurrences.count_recent}} / {{count.points.count_recent}}</td>
    </tr>
    <tr>
      <th>{{strings.historic}}</th>
      <td>{{count.occurrences.count_historic}} / {{count.points.count_historic}}</td>
    </tr>
  </table>
</section>

<section class='pure-u-1 all-stats stats'>
  <h4>{{strings.all-occs}}</h4>
  <table class='pure-table'>
    <tr>
      <th>{{strings.eoo}}</th>
      <td>{{eoo.area}}km²</td>
    </tr>
    <tr>
      <th>{{strings.aoo}} ({{aoo.step}}km²)</th>
      <td>{{aoo.area}}km²</td>
    </tr>
    <tr>
      <th>{{strings.aoo}} ({{aoo_variadic.step}}km²)</th>
      <td>{{aoo_variadic.area}}km²</td>
    </tr>
    <tr>
      <th>{{strings.clusters}}</th>
      <td>{{clusters.count}}</td>
    </tr>
    <tr>
      <th>{{strings.clusters-area}}</th>
      <td>{{clusters.area}}km²</td>
    </tr>
  </table>
</section>

<section class='pure-u-1 recent-stats stats'>
  <h4>{{strings.recent-only}}</h4>
  <table class='pure-table'>
    <tr>
      <th>{{strings.eoo}}</th>
      <td>{{eoo_recent.area}}km²</td>
    </tr>
    <tr>
      <th>{{strings.aoo}} ({{aoo_recent.step}}km²)</th>
      <td>{{aoo_recent.area}}km²</td>
    </tr>
    <tr>
      <th>{{strings.aoo}} ({{aoo_variadic_recent.step}}km²)</th>
      <td>{{aoo_variadic_recent.area}}km²</td>
    </tr>
    <tr>
      <th>{{strings.clusters}}</th>
      <td>{{clusters_recent.count}}</td>
    </tr>
    <tr>
      <th>{{strings.clusters-area}}</th>
      <td>{{clusters_recent.area}}km²</td>
    </tr>
  </table>
</section>

<section class='pure-u-1 historic-stats stats'>
  <h4>{{strings.historic-only}}</h4>
  <table class='pure-table'>
    <tr>
      <th>{{strings.eoo}}</th>
      <td>{{eoo_historic.area}}km²</td>
    </tr>
    <tr>
      <th>{{strings.aoo}} ({{aoo_historic.step}}km²)</th>
      <td>{{aoo_historic.area}}km²</td>
    </tr>
    <tr>
      <th>{{strings.aoo}} ({{aoo_variadic_historic.step}}km²)</th>
      <td>{{aoo_variadic_historic.area}}km²</td>
    </tr>
    <tr>
      <th>{{strings.clusters}}</th>
      <td>{{clusters_historic.count}}</td>
    </tr>
    <tr>
      <th>{{strings.clusters-area}}</th>
      <td>{{clusters_historic.area}}km²</td>
    </tr>
  </table>
</section>

<div class="pure-u-1" id='map'></div>

<div id="tables" class="pure-u-1">
  <h3>
    {{strings.occurrences}}:
  </h3>
</div>

<link rel="stylesheet" href="//cdn.jsdelivr.net/leaflet/1.0.0-rc.1/leaflet.css" />
<link rel="stylesheet" href="//cdn.jsdelivr.net/leaflet.markercluster/1.0.0-beta.2.0/MarkerCluster.css" />
<link rel="stylesheet" href="//cdn.jsdelivr.net/leaflet.markercluster/1.0.0-beta.2.0/MarkerCluster.Default.css" />

<script src="//cdn.jsdelivr.net/leaflet/1.0.0-rc.1/leaflet.js" type="text/javascript"></script>
<script src="//cdn.jsdelivr.net/leaflet.markercluster/1.0.0-beta.2.0/leaflet.markercluster.js" type="text/javascript"></script>
<script src="{{base}}/map.js" type="text/javascript"></script>
<script type="text/javascript">
  var occurrences = {{{occurrences_json}}};
{{#eoo_geojson}}
  var eoo_geojson = {{{eoo_geojson}}};
{{/eoo_geojson}}
{{^eoo_geojson}}
  var eoo_geojson={"features":[],"type":"FeatureCollection"};
{{/eoo_geojson}}
{{#eoo_historic_geojson}}
  var eoo_historic_geojson = {{{eoo_historic_geojson}}};
{{/eoo_historic_geojson}}
{{^eoo_historic_geojson}}
  var eoo_historic_geojson={"features":[],"type":"FeatureCollection"};
{{/eoo_historic_geojson}}
{{#eoo_recent_geojson}}
  var eoo_recent_geojson = {{{eoo_recent_geojson}}};
{{/eoo_recent_geojson}}
{{^eoo_recent_geojson}}
  var eoo_recent_geojson={"features":[],"type":"FeatureCollection"};
{{/eoo_recent_geojson}}
  var aoo_geojson = {{{aoo_geojson}}};
  var aoo_historic_geojson = {{{aoo_historic_geojson}}};
  var aoo_recent_geojson = {{{aoo_recent_geojson}}};
  var aoo_variadic_geojson = {{{aoo_variadic_geojson}}};
  var aoo_variadic_historic_geojson = {{{aoo_variadic_historic_geojson}}};
  var aoo_variadic_recent_geojson = {{{aoo_variadic_recent_geojson}}};
  var clusters_geojson = {{{clusters_geojson}}};
  var clusters_historic_geojson = {{{clusters_historic_geojson}}};
  var clusters_recent_geojson = {{{clusters_recent_geojson}}};
  window.onload=map(occurrences);
</script>

<style type="text/css">
.leaflet-popup-content {
  width: 450px !important;

}
</style>

<section class="pure-u-1 elsewhere">
  <h3>
    {{strings.elsewhere}}:
  </h3>
  <p>
    <a href="http://gbif.org/species/search?q={{taxon.scientificNameWithoutAuthorship}}">GBIF</a>,
    <a href="http://eol.org/search?q={{taxon.scientificNameWithoutAuthorship}}">EOL</a>,
    <a href="http://bionames.org/search/{{taxon.scientificNameWithoutAuthorship}}">BioNames</a>,
    <a href="http://ptp.pensoft.eu/external_details.php?query={{taxon.scientificNameWithoutAuthorship}}">PenSoft</a>.
  </p>
</section>

{{> footer}}

